<div class="foot">
 <footer class="page-footer font-small blue foot">  
  <div class="footer-copyright text-center py-3">
    <h1>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
     <a href="https://twitter.com/explore">  <i class="fab fa-twitter-square"></i></a></h1>
     
      © 2020 Copyrights
  </div>
</footer> 
</div>
</html>