<%- include("./partials/header") %>

<style>
.footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightblue;
    color: black;
    text-align: center;
    height: 20%;
  }
    .imgg{
         max-width: 100%;    
         height: 50%;
    }

    .sl{
        width: 100%;
    height: 70%;
   padding-top: 700px;
   background: url("https://images.unsplash.com/photo-1524006231331-78f794ebbbac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")no-repeat center fixed;
    text-align: center;
    animation: slide 20s infinite;
}

@keyframes slide{

    25%{
        background: url("https://images.unsplash.com/photo-1523359247812-29dde5ac53a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")no-repeat center fixed;
    }

    50%{
        background: url("https://images.unsplash.com/photo-1525513688408-aef73a11a340?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80")no-repeat center fixed;
    }
  

75%{

    background: url(" https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80")no-repeat center fixed; 
}
    100%{
        background: url("https://images.unsplash.com/photo-1532115298834-4c70d11ec8f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")no-repeat center fixed;
    }

} 

.le{
      padding-left: 25%;
      padding-right: 20%;
}

.info{
    text-align: center;
    background-color:lightblue;
    
}
.info h1{
    padding-top: 2%;
}
</style>
<div class="container">
<div class="sl"></div>
</div>
<p></p>

<div class="info">
     <h1>CAPTURE</h1>
     <h2><i class="fas fa-camera-retro"></i>
    </h2>
     <h1>UPLOAD</h1>
    
     <h2><i class="fas fa-desktop"></i></h2>
     <h1>SHOWCASE</h1>
     <h2><i class="fas fa-globe"></i></h2>
       
     
</div>

<div class="container">
<div class="le">
<h1>Categories</h1>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1562454590-3ca6df2d87d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Travel</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"><a href="/campgrounds"><h2>view all</h2></a></small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1534131707746-25d604851a1f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjB8fGNhbWVyYXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Photography</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"><a href="/campgrounds"><h2>view all</h2></a></small></p>
        </div>
      </div>
    </div>
    </div>

    
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGZvb2R8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Food</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"><a href="/campgrounds"><h2>view all</h2></a></small></p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      Blogging
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>When you are passionate about something, you want to share it with the world. Whether it’s a passion for travel, photography, or marketing,food,lifestyle blogging is an excellent way to share that passion. When you blog about something you are passionate about, it opens the door to connecting with those around the world who speak your language and have the same passions.</p>
        <footer class="blockquote-footer">Jeeva <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
</div>
</div>




<p></p>

<footer class="page-footer font-small blue fooot">  
      <div class="footer-copyright text-center py-3">
      <h1>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
       <a href="https://twitter.com/explore">  <i class="fab fa-twitter-square"></i></a></h1>
      

        © 2020 Copyrights
      </div>
</footer>




